h1{
    text-align: center;
}
*{
    box-sizing: border-box;
}
.subTitle{
    width: 30%;
    height: 30px;
    text-align: center;
    position: relative;
    left: 70%;
    padding: 5px;
}
.s1{
    background-color: cadetblue;
}
.s2{
    background-color: chocolate;
}
.s3{
    background-color: cornflowerblue;
}
p{
    margin: 10px;
    text-align: justify;
}
/* --------large----------- */
@media (min-width: 992px) {
    .col-lg-4{
        float: left;
        border: 1px solid black;
        width: 31.33%;
        background-color: mistyrose;
        margin: 1%;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .col-md-6{
        float: left;
        border: 1px solid black;
        width: 48%;
        background-color: mistyrose;
        margin: 1%;
    }
    .full{
        width: 98%;
    }
}
@media (max-width: 767px) {
    .col-sm-12{
        float: left;
        border: 1px solid black;
        width: 98%;
        background-color: mistyrose;
        margin: 1%;
    }
}